body {
    background-color: aquamarine;
    font-family:'Bookman Old Style', Century;
}

p {
    color: white;
    font-size: 24px;
}
h1, h3, h6 {
    color: orange;
}
h2, h4, h5{
    color: crimson;
}